*{
	background-color: #E6E6E6;
	margin: 0;
	padding: 0;
	font-family: 'Flexo';
}

@font-face {
font-family: 'Flexo';
src:
    local('Flexo'),
    local('Flexo'),
    url(../font/Flexo/Flexo-Light.otf);
}

header h2{
	color: #FC3931;
	font-size: 47px;
}

/* BUSCADOR */
.buscador-input{
	background-color: transparent;
    border: none;
}


/* */

.boton {
    margin-top: 20px;
    margin-left: 1%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 37%;
    height: 195px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.boton .pokeimg{
    position: absolute;
    width: 9%;
    height: 83px;
    margin-left: -50px;
    margin-top: 20px;
    background-color: transparent;
}
.boton .namePoke{
    position: absolute;
    margin-top: 111px;
    font-size: 18px;
    font-weight: bold;
    margin-left: -3%;
    background-color: transparent;
    color: black;
}