*{
	background-color: #E6E6E6;
	margin: 0;
	padding: 0;
	font-family: 'Flexo';
}

@font-face {
font-family: 'Flexo';
src:
    local('Flexo'),
    local('Flexo'),
    url(../font/Flexo/Flexo-Light.otf);
}

header h2{
	color: #FC3931;
	font-size: 47px;
}

/* BUSCADOR */
.buscador-input{
	background-color: transparent;
    border: none;
}


/* */

.pokelinea1{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 36%;
    height: 145px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.pokeimg{
    position: absolute;
    width: 9%;
    height: 83px;
    border-radius: 39px;
    margin-left: -50px;

}
.namePoke{
    position: absolute;
    margin-top: 96px;
    font-size: 18px;
    font-weight: bold;
    margin-left: -36px;
}